@page "/actors"
@using BasicBlazorMovieApp.Components.Layout

<PageTitle>Coming Soon?</PageTitle>

<h3 class="text-center mb-4">Actors</h3>

<div class="under-construction">
<img src="/Images/under_construction.jpeg" width="1024" height="1024" alt="under construction" />
</div>

@code {

}
